* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #33A000 0%, #82E155 100%);
}
#login-section {
    min-width: 500px;
    max-height: 800px;
    max-width: 1000px;
    min-height: 300px;
    height: 45vh;
    width: 10%;
    background: #FFF;
    border-radius: 10px;
}
body {
    display: grid;
    place-items: center;
}
#login-header {
    min-height: 90px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    background-color: #086700;
}
#login-input {
    place-items: center;
    display: grid;
    min-width: 350px;
    min-height: 160px;
}
