* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%
}
html {
    background: linear-gradient(to right, #33A000 0%, #82E155 100%);
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: grid;
}
.header {
    border-radius: 10px;
    min-height: 75px;
    max-height: 75px;
    min-width: 100vw;
    background: #086700;
    place-items: center;
}
#title {
    padding: 10px;
    display: inline-block;
    align-self: auto;
    position: absolute;
    top: 8px;
}
#lock-button {
    padding: 10px;
    display: inline-block;
    align-self: auto;
    position: absolute;
    right: 5px;
    top: -3px;
}
#main-page {
    display: grid;
    min-height: 88vh;
    min-width: 97vw;
    background-color: White;
    border-radius: 10px;
    place-self: center;
}
#discord-widget {
    display: inline-block;
    position: absolute;
    top: 115px;
    right: 40px;
}
#temp-xray-link {
    display: inline-block;
    position: absolute;
    top: 115px;
    left: 40px;
}